/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2015, 5:34:35 PM
    Author     : benkandov
*/
body{
    background-color:deeppink;
}
#content{
    background-color:#7b69f5;
        border-style:solid;
    border-width:6px;
    border-color:white;
    border-radius:10px;
        padding:50px;
}
#banner{
    color:white;
    font-size: 36px;
}
#bannerImg{
    border-radius: 25px;
    border-width: 5px;
    border-color:white;
    border-style: solid;
}
#navBar{
   
    background-color:#4331c0;

}
.pageRef{
    
    color:white;
    border: solid 5px;
    
    font-size:24px;
  
   
}
a{
    text-decoration: none;
    color:cyan;
}
#notLink{
  
}


.text{
    font-size:24px;
    color:white;
}
.slide{
    height:400px;
    width:600px;
    border-style:solid;
    border-width:6px;
    border-color:white;
    border-radius:10px;
}
.next{ 
    width:50px;
    height:50px;
}
.prev{ 
    width:50px;
    height:50px;
}
#slideshow{
    font-size:24px;
    color:white;
}