/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2015, 5:55:28 PM
    Author     : benkandov
*/

#bannerImg{
    position:absolute;
    left:0;
    top:100px;
    width:200%
    height:30%;
    text-align:center;
}
#banner{
    position:absolute;
    left:35%;
    top:15%;

}
#navBar{

    position:absolute;
    left:30%;
    top:0px;
    font-size: 24px;
    max-height:7%;
}
body{
    white-space:nowrap;
}
#content{
       position:absolute;
    top:50%;
    left:2%;
    width:80%;;
    height:auto;
    overflow:auto;
}
.pageRef{
  position:relative;
  top:0;
  left:0;
  float:left;

}
.startStop{
    position:relative;
    top:35%;
    right:40%;
}
.next{
    position:relative;
    top:3%;
}
.prev{
    position:relative;
    top:3%;
}
body{
    white-space:nowrap;
}
.slide{
    position:relative;
   