/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 7:18:36 PM
    Author     : benkandov
*/
body{
      text-align:center;
}
#navBar{
    position:fixed;
  
    top:35%;
    left:0%;
}
.pageRef{
    padding:9%;

    position:relative;
   
}
#bannerImg{
    position:absolute;
    left:0;
    top:1%;
    width:100%;
    height:10%;
}
#banner{
    position:absolute;
    left:40%;
    width:90%;
    top:0;

}

#notLink{
  
}
#content{
    position:absolute;
    top:25%;
    left:19%;
    width:auto;
    height:80%;
    overflow:auto;
}

.startStop{
    position:relative;
    top:35%;
    right:40%;
}
.next{
    position:relative;
    top:3%;
}
.prev{
    position:relative;
    top:3%;
}
body{
    white-space:nowrap;
}
.slide{
    position:relative;
   
}
#footer{
    position: fixed;
    bottom: 0;

}
.startStop{
    position:relative;
    top:45%;
    right:40%;
}
.next{
    position:relative;
    top:3%;
}
.prev{
    position:relative;
    top:3%;
}
body{
    white-space:nowrap;
}
.slide{
    position:relative;
   
}