/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2015, 5:55:28 PM
    Author     : benkandov
*/

#bannerImg{
    position:absolute;
    
    top:10%;
    width:100%
    height:10%;
  
}
#banner{
    position:absolute;
    left:35%;
    top:15%;

}
#navBar{
    
    position:absolute;
    left:0;
    top:0;
    font-size: 24px;
    width:100%;
    min-height: 7%;
    text-align: center;
    overflow:scroll;
    
}
body{
    white-space:nowrap;
}
#content{
       position:absolute;
    top:50%;
    left:2%;
    width:80%;;
    height:auto;
    overflow:auto;
}
.pageRef{
  position:relative;
  top:0;
  left:0;
  float:left;
    padding-left: 2%;
    padding-right: 2%;

}
.startStop{
    position:relative;
    top:35%;
    right:40%;
}
.next{
    position:relative;
    top:3%;
}
.prev{
    position:relative;
    top:3%;
}
body{
    white-space:nowrap;
}
.slide{
    position:relative;
}
#footer{
    position: fixed;
    bottom: 0;

}