/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2015, 5:55:36 PM
    Author     : benkandov
*/

a{
    text-decoration: none;
    color:#a12024;
}
#notLink{
    color:#333333;
}
body{
    background-color:#a12024;
    
     white-space:nowrap;
}
#navBar{
    background-color:#a1de0b;
       
        font-size:20px;
                 border-radius: 25px;
    border-width: 5px;
    border-color:#ca9107;
    border-style: solid;
   
     
}
#banner{
    font-size:36px;
    color:#a12024;
    
}
#bannerImg{
  border-radius: 25px;
    border-width: 5px;
    border-color:#ca9107;
    border-style: solid;
}
#content{
    font-size:24px;
    background-color:#a1de0b;
         border-radius: 25px;
    border-width: 5px;
    border-color:#ca9107;
    border-style: solid;
    padding:50px;
}